/* talkflow styles */

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-collective-talkflow-flow::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-collective-talkflow-flow::before,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-collective-talkflow-discussion::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-collective-talkflow-discussion::after {
  background-image: url(../../++resource++collective.talkflow/icons/board16a.png);
  background-repeat: no-repeat !important;
  margin-left:2px !important;
  width:20px !important;
  content:' ';
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-collective-talkflow-discussion::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-collective-talkflow-discussion::before {
  background-image: url(../../++resource++collective.talkflow/icons/discussion16a.png);
}


body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-collective-talkflow-answer::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-collective-talkflow-answer::after {
  content:'A';
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-collective-talkflow-flow::before,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-collective-talkflow-discussion::before {
  margin-top: -5.5px !important;
  top: 6px !important;
}


